<div class="col-md-1">
    <li class="list-group-item dropdown" appDropdown>
        <a stype="cursor:pointer;" class="dropdown-toggle" role="button">Concepts<span class="caret"></span></a>
        <ul class="dropdown-menu" > 
            <li><a style="cursor:pointer;">Create</a></li>
            <li><a style="cursor:pointer;">View</a></li>
            <li><a style="cursor:pointer;">Edit</a></li>
            <li><a style="cursor:pointer;">RSM Input</a></li>
            <li><a style="cursor:pointer;">RSM Review</a></li>
        </ul>
    </li>
    <li class="list-group-item dropdown" appDropdown>
        <a style="cursor:pointer;" class="dropdown-toggle" role="button">Campaign<span class="caret"></span></a> 
        <ul class="dropdown-menu" >
            <li><a style="cursor:pointer;">Create</a></li>
            <li><a style="cursor:pointer;">View</a></li>
            <li><a style="cursor:pointer;">Edit</a></li>
            <li><a style="cursor:pointer;">RSM Input</a></li>
            <li><a style="cursor:pointer;">RSM Review</a></li>
            <li><a style="cursor:pointer;">Campaign Feedback</a></li>
        </ul>

    <li class="list-group-item">Admin</li>
    <li class="list-group-item">New</li>
    <li class="list-group-item">New</li>

</div>
<div class="col-md-6">
    <app-new-concept></app-new-concept>
</div>
<div class="col-md-5">
    <app-view-concept></app-view-concept>
</div>



